<% if @spots && @spots.any? %>
  <h5>Surf spots near you:</h5>

  <ul class="nav-bar vertical">
    <% @markers = ('A'...'Z').to_a
       @current_index=-1
       @spots.each do |spot| %>
        <% @current_index += 1 %>
        <% @active_index  = @current_index if spot == @spot %>
      <li class="has-flyout <%= 'active' if spot == @spot %>">
        <%= link_to "#{@markers[@current_index]}. &nbsp; #{spot.name} <span class='mileage'>#{number_with_precision(spot.distance_to(session[:geo][:location], SurfSpotsController::MAX_DISTANCE), :precision => 1, :delimiter => ",")} mi</span>".html_safe,
                    { :controller => :surf_spots, :action => :show, :id => spot.id } %>
      </li>
    <% end %>
  </ul>

    <% @markers = ('A'...'Z').to_a
       @current_index=-1
       if using_geo_location?
         current_spot = SurfSpot.new(:latitude => session[:geo][:location].first, :longitude => session[:geo][:location].last)
       end

       map_spots = @spot ? [@spot] : @spots
       map_spots << current_spot if current_spot
       @json = map_spots.to_gmaps4rails do |spot, marker|
         @current_index += 1
         picture_params =
           if spot.new_record?
             "chst=d_map_pin_letter&chld=|0000ff|000000"
           else
             "chst=d_map_pin_letter&chld=#{@markers[@active_index || @current_index]}|FF9966|000000"
           end
         marker.picture({
              :picture => "http://chart.apis.google.com/chart?#{picture_params}",
              :width   => 32,
              :height  => 32
         })
       end

    %>

  <% unless @hide_gmaps %>
    <div class="map_wrapper" style="display:none">
      <%= gmaps( "markers" => { "data" => @json } ) %>
    </div>
  <% end %>

<% else %>
  <h5>Sorry, no surf spots found near by.</h5>
<% end %>
