<% if @spots %>
  <h5>Surf spots near you:</h5>

  <ul class="nav-bar vertical">
    <% @spots.each do |spot| %>
      <li class="has-flyout <%= 'active' if spot == @spot %>"> <!-- add "active" class -->
        <%= link_to "#{spot.name} <span class='mileage'>#{number_with_precision(spot.distance_to(session[:geo][:location], SurfSpotsController::MAX_DISTANCE), :precision => 1, :delimiter => ",")} mi</span>".html_safe,
                    { :controller => :surf_spots, :action => :show, :id => spot.id } %>
      </li>
    <% end %>
  </ul>

    <% @json = (@spot ? @spot : @spots).to_gmaps4rails do |spot, marker|
      marker.picture({
              :picture => "http://chart.apis.google.com/chart?chst=d_map_pin_letter&chld=A|FF9966|000000", # up to you to pass the proper parameters in the url, I guess with a method from device
              :width   => 32,
              :height  => 32
      })
    end
    %>

  <% unless @hide_gmaps %>
    <div class="map_wrapper" style="display:none">
      <%= gmaps( "markers" => { "data" => @json } ) %>
    </div>
  <% end %>
<% end %>
