<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>
<body>
  <h2>Feedback received from user</h2>

  <b>Name:</b><br />
  <%= @name %>

  <br /><br />

  <b>Comment:</b><br />
  <%= @comment.gsub(/\n/, '<br />').html_safe %>

  <br /><br />

  <b>Viewing the following page:</b>
  <%= @page %>
</body>
</html>
