<% @full_width = true %>

<h1>Meet the Team</h1>

<style>
  .panel {
    min-height: 130px;
  }
</style>

<div class="panel" style="border-radius: 15px">
  <h4>Vu Ngo</h4>
  <i>CEO, Co-founder</i>
  <table border="1" style="margin-top: 1em; width: 95%">
<tr>
<td width = "80%">Team Clown - Loves right point brakes and Saracha sauce - enough said.</td>
<td><%= image_tag "surf2.jpeg"%></td>
</tr>
</table>
</div>

<div class="panel" style="border-radius: 15px">
  <h4>Chris Cox</h4>
  <i>Staff Scientist, Co-founder</i>
<table border="1" style="margin-top: 1em; width: 95%">
<tr>
<td width = "80%"> <p>
    Studier of staff cohesiveness and behavior - The goofy footer that rips any and all lefts in the good ol CA. When not surfing you can find him line dancing at the local Creekside bar.
  </p></td>
<td><%= image_tag "Surf1.jpeg"%></td>
</tr>
</table>

</div>

<div class="panel" style="border-radius: 15px">
  <h4>Nick Burwell</h4>
  <i>Engineering Guru</i>
<table border="1" style="margin-top: 1em; width: 95%">
<tr>
<td width = "80%"><p>
    Master of the CODE... and the SURF! When Nick's not shredding the preverbial gnar, you can find him with his wife and squeaky shoe'd daughter.
  </p></td>
<td><%= image_tag "surf4.jpeg"%></td>
</tr>
</table>
</div>

<div class="panel" style="border-radius: 15px">
  <h4>Bob Smith</h4>
  <i>Sous Chef & Beer Brewer</i>

<table border="1" style="margin-top: 1em; width: 95%">
<tr>
<td width = "80%"><p>
    Office Chef, makes a mean home brew as well as has been called the surf bird of his generation. People compare him to a mixture of Kelley Slater and Jesus.
  </p></td>
<td><%= image_tag "surf3.jpeg"%></td>
</tr>
</table>
</div>

