<h1>Meet the Team</h1>

<style>
  .panel {
    min-height: 130px;
  }
</style>

<div class="panel">
  <h4>Vu Ngo</h4>
  <i>CEO, Co-founder</i>

  <p>
    team clown
  </p>
</div>

<div class="panel">
  <h4>Chris Cox</h4>
  <i>Staff Scientist, Co-founder</i>

  <p>
    Studier of staff cohesiveness and environmental behavior
  </p>
</div>

<div class="panel">
  <h4>Nick Burwell</h4>
  <i>VP of Engineering</i>

  <p>

  </p>
</div>

<div class="panel">
  <h4>Bob Smith</h4>
  <i>Sous Chef & Beer Brewer</i>

  <p>
    
  </p>
</div>

