<div id="feedback" class="reveal-modal large">
  <h2>Give us feedback</h2>
  <p class="lead">We want your comments.</p>
  <form>
    <div class="row">
      <div class="two mobile-one columns">
        <label class="right inline">Name:</label>
      </div>
      <div class="ten mobile-three columns">
        <input type="text" placeholder="" class="eight" />
      </div>
    </div>
    <div class="row">
      <div class="two mobile-one columns">
        <label class="right inline">Comments:</label>
      </div>
      <div class="ten mobile-three columns">
        <textarea class="eight" rows="6"></textarea>
      </div>
    </div>
    <div class="row">
      <div class="two mobile-one columns"></div>
      <div class="ten mobile-three columns">
        <a class="close-reveal-modal success button" href="#">Send</a>
      </div>
    </div>
  </form>
  <a class="close-reveal-modal">&#215;</a>
</div>
